.app {
  margin:0.25em;
  padding-right:2px;
  border-left:1px solid black;
}

.tag-container{
  display: inline-block;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

.tag-single{
  display: inline-block;
}

.tag-name {
  font-size: 85%;
  padding: 0.5em 0 0.5em 0.75em;
  margin: 0.25em 0 0.25em 0.25em;
  display: inline-block;
  background-color: lightblue;
}
.tag-del{
  font-size: 85%;
  padding: 0.5em 0.5em;
  margin-right: 0.25em;
  display: inline-block;
  background-color: lightblue;
  cursor: pointer;
}

input:focus{
  outline:none;
}
input{
  padding: 1em;
  border:1px solid black;
  border-left:none;
}