.app {
  margin:20px;
  padding-right:2px;
}

.tag-container{
  display: inline-block;
  border-bottom: 1px solid black;
}

.tag-container::after{
  content:"";
  width:8em;
  display: inline-block;
}

.tag-single{
  display: inline-block;
  background-color: lightblue;
  margin:0.25em;
  padding:0.25em;
}

.tag-name {
  display: inline-block;
}
.tag-del{
  margin-left:0.25em;
  display: inline-block;
  cursor: pointer;
}
.input-container{
  display:inline-block;
  position: relative;
  border:1px solid black;
}
input:focus{
  outline:none;
}
input{
  position: absolute;
  left:-7.5em;
  top:-1.5em;
  border:none;
  padding:0.5em;
}